body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  padding: 40px;
}

h2,
p {
  margin: 0;
}

.book-row {
  padding: 10px;
  background-color: white;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.book-row_close, .book-row_detail {
  cursor: pointer;
  background-color: red;
  cursor: pointer;
  color: white;
  padding: 3px 5px;
  font-size: 12px;
  visibility: hidden;
  margin-left: 10px;
}

.book-row_detail{
  background-color: green;
}

.book-row:hover {
  background-color: #e3e3e3;
}
.book-row:hover .book-row_close, .book-row:hover .book-row_detail {
  visibility: visible;
}

.group-buttons{
  display: flex;
}

.add-book{
  display: flex;
  flex-direction: column;
}

.loading{
  margin: auto;
  width: 30px;
  height: 30px;
  border: 5px solid #bed9ed;
  border-radius: 50%;
  position: relative;
}

.loading > .spinner{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc(100%);
  border: 5px solid #4b9cdb;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loading linear infinite;
}

@keyframes loading{
  from{
    transform: translate(-5px, -5px) rotate(0);
  }
  to{
    transform: translate(-5px, -5px) rotate(360deg);
  }
}